In [8]:
import requests
import json
import pandas as pd
from bs4 import BeautifulSoup
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"

data = requests.get(url).text

In [5]:
soup = BeautifulSoup(data, 'html.parser')
print (type(soup))

<class 'bs4.BeautifulSoup'>

In [7]:
netflix__data = pd.DataFrame(columns = ["Date", "Open", "High", "Low", "Close", "Volume"])
netflix__data

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []